<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>MPU6050 Signal Plotting</title>


		<link rel="stylesheet" type="text/css" href="/static/components/normalize-css/normalize.css" />

		<script type="text/javascript" src="/static/components/jquery/jquery.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/components/semantic/build/packaged/css/semantic.min.css" />
		<script type="text/javascript" src="/static/components/semantic/build/packaged/javascript/semantic.min.js"></script>

		<script type="text/javascript" src="/static/components/flot/jquery.flot.js"></script>
		<script type="text/javascript" src="/static/components/flot/jquery.flot.crosshair.js"></script>

		<script type="text/javascript" src="/static/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
	  <div class="ui one column page grid segment">
			<div class="column">
                <div id="title-block" class="ui basic segment">
                    <h1 id="title" class="ui left floated black header"><i class="chart basic teal icon"></i>MPU6050 Signal Plotting</i></h1>
                    <div class="ui right floated icon buttons">
                        <div id="clear-btn" class="ui red hover button">
                            <i class="trash icon"></i>
                        </div>
                        <div id="status-btn" class="ui green toggle hover button">
                            <i class="play icon"></i>
                        </div>
                    </div>
                    <div id="save-btn" class="ui right floated hover teal icon button">
                        <i class="save icon"></i>
                    </div>
                </div>


				<div id="signal-plot" class="ui teal segment"></div>

				<div class="ui two column grid">
					<div id="processing-panel" class="column">
						<div class="ui blue segment">
							<div class="ui blue ribbon label">
								Filter
							</div>
							<div class="ui form">
								<div class="field">
									<div id="moving-average-filter" class="ui toggle checkbox">
										<input type="checkbox" />
										<label>Moving Average Filter <span id="MA-value"></span></label>
									</div>
								</div>
								<div class="field">
									<div class="ui slider range">
										<input id="MA-slider" type="range" min="2" max="200" value="1" step="1" disabled />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="signal-panel" class="column">
						<div class="ui green segment">
							<div class="ui green ribbon label">
								Signal
							</div>
							<div class="ui grid">
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		
	</body>
</html>

