<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>MPU6050 Signal Plotting</title>


		<link rel="stylesheet" type="text/css" href="/static/components/normalize-css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

		<link rel="stylesheet" type="text/css" href="/static/components/semantic/build/packaged/css/semantic.min.css" />
		<script type="text/javascript" src="/static/components/semantic/build/packaged/javascript/semantic.min.js"></script>

		<script type="text/javascript" src="/static/components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/static/components/flot/jquery.flot.js"></script>
		<script type="text/javascript" src="/static/components/flot/jquery.flot.crosshair.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
	</head>
	<body>
	  <div class="ui one column page grid segment">
			<div class="column">
				<h1 id="title" class="ui black header"><i class="chart basic teal icon"></i>MPU6050 Signal Plotting</i></h1>
				<div id="control-btn" class="ui right floated icon buttons">
					<div id="clear-btn" class="ui red hover button">
						<i class="trash icon"></i>
					</div>
					<div id="status-btn" class="ui green toggle hover button">
						<i class="play icon"></i>
					</div>
				</div>
                <div class="ui right floated icon buttons">
                    <div id="moving-average-filter" class="ui toggle button">
                        <i class="filter icon"></i>
                    </div>
                </div>


				<div id="signal-plot" class="ui teal segment"></div>
			</div>

		</div>
		
	</body>
</html>

